/*Navigation*/

nav a {
  color: black;
}

#navigation_main ul {
  float: left;
  width: 100%;
  padding: 20px 0 10px 0;
  margin: 0 auto 20px auto;
  background-color: #023047;
}

#navigation_main li {
  list-style: none;
  float: left;
  width: 11.1%;
}

#navigation_main a {
  text-decoration: none;
  display: block;
	padding: 10px 10px;
  background-color: #219EBC;
  border-radius: 10px;
  color: white;
  margin: 2px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.currentpg a {
  border-width: 3px;
  border-style: solid;
  border-color: #FFB703;
}

/*Page*/
body {
  margin: 0 auto;
  background-color: #8ECAE6;
}

#wrapper_main_home {
  width: 900px;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: white;
}

#wrapper_main {
  width: 900px;
  float: left;
  padding: 10px 20px;
  margin: -20px 0 0 60px;
  background-color: white;
}

/*Main Content*/
h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 2.5em;
  margin: 30px 0 5px 0;
}

h2 {
  margin: 0 auto;
  color: #023047;
  text-decoration: underline;
}

p, li {
  font-family: 'Lora', serif;
}

#introduction a {
  text-decoration: none;
}

#content_overview {
  padding: 10px 20px 0 20px;
  margin: 20px 50px;
  border-style: dashed; 
  border-color: #FFB703;
  border-radius: 10px;
  border-width: 3px;
}

figure {
  width: 600px;
  background-color: #023047;
  border-radius: 10px;
  padding: 5px;
  margin: 20px auto;
  text-align: center;
}

img {
  width: 500px;
  margin: 5px;
  border-radius: 10px;
}

img {
  color: white;
  font-family: 'Lora', serif;
}

figcaption {
  color: white;
  font-family: 'Lora', serif;
  margin: 5px auto 10px auto;
  padding: 0;
}

h4 {
  margin: 0;
}

/*Asides*/
aside {
  width: 200px;
  color: black;
  background-color: white;
  border-color: #FFB703;
  border-radius: 10px;
  border-style: dashed;
  border-width: 6px;
  padding: 5px;
}

#aside_research_timeline {
  float: right;
  position: relative;
  margin-top: 1650px;
  margin-right: 70px;
}

#aside_requesting_books {
  float: right;
  position: relative;
  margin-top: 1700px;
  margin-right: 70px;
}

#aside_local_libraries {
  float: right;
  position: relative;
  margin-top: 200px;
  margin-right: 70px;
}

#aside_web_resources {
  float: right;
  position: relative;
  margin-top: 900px;
  margin-right: 70px;
}

#aside_preliminaries {
  float: right;
  position: relative;
  margin-top: 100px;
  margin-right: 70px;
}

#aside_dichotomous {
  float: right;
  position: relative;
  margin-top: 850px;
  margin-right: 70px;
}

#aside_descriptive_stats {
  float: right;
  position: relative;
  margin-top: 300px;
  margin-right: 70px;
}

#aside_appropriate_analysis {
  float: right;
  position: relative;
  margin-top: 960px;
  margin-right: 70px;
}

#aside_1 {
  float: right;
  position: relative;
  margin-top: 50px;
  margin-right: 70px;
}

#aside_2 {
  float: right;
  position: relative;
  margin-top: 400px;
  margin-right: 70px;
}

#aside_3 {
  float: right;
  position: relative;
  margin-top: 500px;
  margin-right: 70px;
}